/* 
    Document   : style
    Created on : 11-ene-2013, 1:32:37
    Author     : wiyarmir
    Description:
        Purpose of the stylesheet follows.
*/



body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}